* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f6f8fa;
}

header {
  padding: 64px;
  margin-bottom: 32px;
  color: white;
  background-color: #182433;
}

h1 {
  font-size: 48px;
}

h3 {
  padding-top: 16px;
  font-weight: normal;
  font-style: italic;
}

section {
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 32px;
  padding: 32px;
  padding-top: 48px;
  padding-bottom: 32px;
  border-radius: 12px;
}

h2 {
  padding-bottom: 16px;
}

p {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

#about {
  background-color: white;
  padding-bottom: 48px;
}

#about p {
  padding: 0;
  margin: 0;
}

#education {
  background-color: #d8f0fe;
}

#education p {
  width: 80%;
}

#skills {
  background-color: #fff0c2;
}

#skills p {
  width: 70%;
  font-weight: bold;
}

#projects {
  background-color: #ebe6fd;
}

#projects p {
  width: 80%;
  font-style: italic;
}

#contact {
  background-color: #d2fce4;
}

#contact p {
  width: 70%;
}

footer {
  padding: 32px;
  color: white;
  background-color: #182433;
}